client_id = api_hubic_xxxxx
client_secret = xxxxxx
refresh_token = xxxx
cache_timeout = 600
temp_dir = /tmp/hubicfuse
segment_size = 10485760
segment_above = 10485759

get_extended_metadata = true
curl_verbose = false
curl_progress_state = false
cache_statfs_timeout = 30
debug_level = 0
enable_chmod = false
enable_chown = false
option_enable_progressive_upload = false
enable_progressive_download = false
min_speed_limit_progressive = 0
read_ahead = 0